html{
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.App {
  min-height: 100vh;
}

.main-title{
  text-align: center;
  font-size: 70px;
  margin-top: 40px;
}
  .main-title > img{
    width: 8%;
    vertical-align: middle;
    margin-left: 20px;
  }

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button{
  background-color: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}